PORT=5001

DB_HOST=dpg-d6o2qma4d50c738k9fjg-a.oregon-postgres.render.com
DB_PORT=5432
DB_SCHEMA=app
DB_NAME=puppydb_poap
DB_USER=puppyuser
DB_PASSWORD=9wd0JOD5csyPkI7FqoddxgwC5LfapzA0

DATABASE_URL=postgresql://puppyuser:9wd0JOD5csyPkI7FqoddxgwC5LfapzA0@dpg-d6o2qma4d50c738k9fjg-a/puppydb_poap
#e.g. postgresql://your_user:password@databasname-postgres.render.com/adminuser
PGSSLMODE=require